.animated-mesh-gradient-background {
    background-color:hsla(0,0%,100%,1);
    background-image:
    radial-gradient(at 13% 13%, hsla(239,100%,28%,1) 0px, transparent 50%),
    radial-gradient(at 63% 60%, hsla(183,100%,49%,1) 0px, transparent 50%),
    radial-gradient(at 98% 95%, hsla(220,95%,48%,1) 0px, transparent 50%),
    radial-gradient(at 1% 97%, hsla(220,95%,48%,1) 0px, transparent 50%),
    radial-gradient(at 1% 2%, hsla(223,100%,50%,1) 0px, transparent 50%),
    radial-gradient(at 99% 2%, hsla(194,100%,53%,1) 0px, transparent 50%);

    animation: animatedgradient 10s ease infinite;
    background-size: 150% 150%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 25%;
    }

    25% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 50% 75%;
    }

    75% {
        background-position: 25% 25%;
    }

    100% {
        background-position: 0% 25%;
    }

}