@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #EEEEFF;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1f1f1f;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3f3f3f;
  }

 
/* * {
  border: 0.5px solid #ee0303;
} */

  /* * {
    cursor: none;
  }
   */

  .text-smooth {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* @font-face {
    font-family: 'Montserrat', serif;
    src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
   */
  @font-face {
    font-family: 'Montserrat', serif;
    src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    /* font-weight: 600; */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "CabinetGrotesk-Variable";
    src: url("./assets/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }

  /* a, p, span {
    @apply font-open-sans tracking-wider;
  } */
  
  /* h1, h2, h3, h4 {
    @apply font- tracking-wide;
  } */